# Dart related
.dart_tool/
.packages
.pub/
build/

/bin
/text

# If you're using Flutter for Dart console testing
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android Studio / IntelliJ specific
.idea/
*.iml
*.ipr
*.iws
*.yaml

# VS Code specific (if you sometimes use VS Code too)
.vscode/

# Mac & Linux system files
.DS_Store
*.swp
*.swo

# Logs
*.log

# Coverage
coverage/

# Other temporary files
*.tmp
*.lock

.gitignore

CHANGELOG.md




